
@{
    ViewBag.Title = "DropSearch";
    Layout = "~/Views/Shared/__Layout.cshtml";
}

<aside id="right" class="mainside">
    <style type="text/css">

        .welcome_box {
            display: none
        }

        .mainside-bg, .sidebar-bg, .sidebar {
            display: none
        }

        .mainside {
            width: 100%;
            float: none
        }

            .mainside .mainbox .mainbox-inner .mainbox-body {
                padding: 0
            }
    </style>
    <div id="page-character" class="mainbox page page-character">


        <script src="Content\js\itemsearch.js"></script>

        <link href="Content\css\page-store.css" rel="stylesheet">

        <div class="mainbox-inner page-inner">
            <div class="mainbox-header page-header border_box">
                <h3 class="page_title overflow_ellipsis"><span>KoFeniX</span> &#129138; Eşya Arama</h3>
                <div id="cache_time"></div>
            </div>
            <div class="mainbox-body page-body self_clear chests">
                <!-- Item Search -->
                
                
                <div class="store_body">
                    <form id="store_form" onsubmit="return false;">
                        <div class="store_header" align="left">
                            <input type="text" id="item_name" placeholder="Aramak istediğiniz eşya nedir ?" name="item_name">
                            <input type="submit" id="ara_btn" value="Listele">
                        </div>
                        <div class="store_inner_body">
                            <div class="store_left_side">
                                <div class="scrollable" id="left_scrollbable">
                                    <div class="scrollbar">
                                        <div class="track">
                                            <div class="thumb">
                                                <div class="end"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="viewport">
                                        <div class="overview" id="store_categories">
                                            <div class="store_category mob_div" data-id="21">
                                                <a href="#" class="store_category_button">
                                                    <span>Moradon - 1 ( <b class="mob_count" id="mob_count1"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result1" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="2">
                                                <a href="#" class="store_category_button">
                                                    <span>El Morad Castle ( <b class="mob_count" id="mob_count2"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result2" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="1">
                                                <a href="#" class="store_category_button">
                                                    <span>Luferson Castle ( <b class="mob_count" id="mob_count3"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result3" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="33">
                                                <a href="#" class="store_category_button">
                                                    <span>Hell Abyss ( <b class="mob_count" id="mob_count4"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result4" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="71">
                                                <a href="#" class="store_category_button">
                                                    <span>Ronark Land ( <b class="mob_count" id="mob_count5"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result5" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="32">
                                                <a href="#" class="store_category_button">
                                                    <span>Desperation Abyss ( <b class="mob_count" id="mob_count6"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result6" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="11">
                                                <a href="#" class="store_category_button">
                                                    <span>Karus Eslant - 1 ( <b class="mob_count" id="mob_count7"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result7" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="12">
                                                <a href="#" class="store_category_button">
                                                    <span>El Morad Eslant - 1 ( <b class="mob_count" id="mob_count8"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result8" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="34">
                                                <a href="#" class="store_category_button">
                                                    <span>Dragon Cave ( <b class="mob_count" id="mob_count9"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result9" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                            <div class="store_category mob_div" data-id="31">
                                                <a href="#" class="store_category_button">
                                                    <span>Bifrost ( <b class="mob_count" id="mob_count10"></b> )</span>
                                                    <p id="arrow"></p>
                                                    <div class="clear"></div>
                                                </a>
                                                <div id="mob_result10" class="store_sub_categories" align="left" style="display: none;">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="store_right_side">
                                <div class="store_items_list">
                                    <div class="viewport">
                                        <div class="overview">
                                            <div id="itemsearch_result">
                                                <div class="error" id="notalani">
                                                    <span>Not :</span> Aramak istediğiniz eşyayı sol üst taraftan yazdıktan sonra sağ taraftaki `  Listele ´ tuşuna basınız.
                                                </div>
                                                <div class="error" id="sonucalani" style="display:none;"><img src="/Content/images/a.png"><ul><li class="info2">Sonuçlar sol tarafta listelenmiştir. <br> Tıklayarak detayları görebilirsiniz.</li></ul></div>
                                                <div id="dataresaultv3" style="display:none;">
                                                    <div id="monster_info" class="left">
                                                        <fieldset id="imgmob" class="mob_pic">
                                                            <legend> Yaratık  </legend>
                                                            <img id="mobimage" >
                                                        </fieldset>
                                                        <br>
                                                        <fieldset class="mob_info">
                                                            <legend> Yaratık Bilgileri </legend>
                                                            <ul class="monster_info_list">
                                                                <li>
                                                                    <center><p id="adi" style="display: inline-block; color: #a48f4f; font-size: 12px;  margin: 5px;">Keilan</p></center>
                                                                </li>
                                                                <li>
                                                                    <p>&nbsp;</p>
                                                                    Yaratık Canı :<span id="can">1,610</span>
                                                                </li>
                                                                <li>
                                                                    <p>&nbsp;</p>
                                                                    Yaratık Defansı :<span id="def">208</span>
                                                                </li>
                                                                <li>
                                                                    <p>&nbsp;</p>
                                                                    Yaratık Hasar Gücü :<span id="atk">50</span>
                                                                </li>
                                                            </ul>
                                                        </fieldset>
                                                    </div>


                                                    <div id="monster_info" class="right">
                                                        <fieldset class="found_item_list" style="float: left; height: 450px;">
                                                            <legend> Arama Sonuclarınız </legend>
                                                            <div class="scrollable" id="topik">
                                                                <div class="scrollbar" style="z-index: 999; height: 410px;" id="autosb">
                                                                    <div class="track" style="height: 410px;">
                                                                        <div class="thumb" style="top: 0px; height: 40.8376px;">
                                                                            <div class="end"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="viewport" id="autovp" style="height: 410px;">
                                                                    <div class="overview" style="top: 0px; ">
                                                                        <ul id="mehmetinmotoru" class="items">
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </form>
                </div>
                <!-- Item Search -->
            </div>
        </div>
    </div>
</aside>
<script>
    function openCity(evt, id) {
        $("#dataresaultv3").css("display", "block");
        $("#notalani").css("display", "none");
        $("#sonucalani").css("display", "none");
          

        $("#mehmetinmotoru").empty();
        $.ajax({
            url: '/Guide/DropSearchh/' + id,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {

                    $("#adi").html(item.monster_name);
                    $("#can").html(item.monster_hp);
                    $("#def").html(item.monster_defans);
                    $("#atk").html(item.monster_atak);
                    $("#mehmetinmotoru").append('<li class="item"><div id="hover"></div><a data-tip="<div id=&quot;item_v2&quot;><h1 class=&quot;type_' + item.classtip + '&quot;> ' + item.strName + '</h1><h2 class=&quot;type_' + item.classtip +'&quot;> ' + item.itemtype+'</h2><h3> ' + item.kind+'</h3><h3> ' + item.Class+'</h3><ul><li> ' + item.damage+'</li><li> ' + item.atakspeed+'</li><li> ' + item.Range+'</li><li> ' + item.Weight+'</li><li> ' + item.Ac+'</li><li class=&quot;type_3&quot;> ' + item.DaggerAc+'</li><li class=&quot;type_3&quot;> ' + item.SwordAc+'</li><li class=&quot;type_3&quot;> ' + item.MaceAc+'</li><li class=&quot;type_3&quot;> ' + item.AxeAc+'</li><li class=&quot;type_3&quot;> ' + item.SpearAc+'</li><li class=&quot;type_3&quot;> ' + item.BowAc+'</li><li class=&quot;type_3&quot;> ' + item.FireDamage+'</li><li class=&quot;type_3&quot;> ' + item.IceDamage+'</li><li class=&quot;type_3&quot;> ' + item.LightningDamage+'</li><li class=&quot;type_3&quot;> ' + item.PoisonDamage+'</li><li class=&quot;type_3&quot;> ' + item.HPDra+'</li><li class=&quot;type_3&quot;> ' + item.MPDra+'</li><li class=&quot;type_3&quot;> ' + item.MirrorDamage+'</li><li class=&quot;type_3&quot;> ' + item.StrB+'</li><li class=&quot;type_3&quot;> ' + item.StaB+'</li><li class=&quot;type_3&quot;> ' + item.DexB+'</li><li class=&quot;type_3&quot;> ' + item.IntelB+'</li><li class=&quot;type_3&quot;> ' + item.ChaB+'</li><li class=&quot;type_3&quot;> ' + item.MaxHpB+'</li><li class=&quot;type_3&quot;> ' + item.MaxMpB+'</li><li class=&quot;type_3&quot;> ' + item.FireR+'</li><li class=&quot;type_3&quot;> ' + item.ColdR+'</li><li class=&quot;type_3&quot;> ' + item.LightningR+'</li><li class=&quot;type_3&quot;> ' + item.MagicR+'</li><li class=&quot;type_3&quot;> ' + item.PoisonR+'</li><li class=&quot;type_3&quot;> ' + item.CurseR+'</li><li>'+item.ReqStr+'</li><li>'+item.ReqSta+'</li><li>'+item.ReqDex+'</li><li>'+ item.ReqIntel +'</li><li>' + item.ReqCha+'</li></ul><h4>*@@*</h4></div>" id="icon" class="q7" href="#" style="background-image:url(/Content/itemicons/' + item.imagenum + ')"></a><div id="middle"><a href="#" class="q7">' + item.strName + '</a><p>Olasılık: <font class="reqcount">% ' + item.drop_oran + '</font></p></div></li>');
                    $("#mobimage").attr("src", '/Content/mobs/' + item.image_id + '.png');

                });
                Tooltip.refresh();
                $("#topik").tinyscrollbar();
                $('.scrollable').tinyscrollbar_update();
                
            }
        });
    }
    $(document).ready(function () {
        var a=1,b=1,c=1,d=1,e=1,f=1,g=1,h=1,j=1,t=1;
        
        $.ajax({
            url: '/Guide/doldur/',
            type: 'POST',
            dataType: 'json',
            success: function (veri) {
                $.each(veri, function (i, drop) {

                    switch (drop.zon_id) {
                        case 21:
                                                        
                            $("#mob_count1").html(a++);
                            $("#mob_result1").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                           
                            break;
                        case 2:
                            
                            $("#mob_count2").html(b++);
                            $("#mob_result2").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 1:
                            
                            $("#mob_count3").html(c++);
                            $("#mob_result3").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 33:
                            
                            $("#mob_count4").html(d++);
                            $("#mob_result4").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 71:
                            
                            $("#mob_count5").html(e++);
                            $("#mob_result5").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 32:
                            
                            $("#mob_count6").html(f++);
                            $("#mob_result6").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 11:
                            
                            $("#mob_count7").html(g++);
                            $("#mob_result7").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 12:
                            
                            $("#mob_count8").html(h++);
                            $("#mob_result8").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 34:
                            
                            $("#mob_count9").html(j++);
                            $("#mob_result9").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 31:
                            
                            $("#mob_count10").html(t++);
                            $("#mob_result10").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        

                    }
                });

            }

        });
        Tooltip.initialize();
        
    });


    $('#ara_btn').click(function () {
        $("#notalani").css("display", "none");
        $("#dataresaultv3").css("display", "none");
        $("#mob_result1").empty();
        $("#mob_result2").empty();
        $("#mob_result3").empty();
        $("#mob_result4").empty();
        $("#mob_result5").empty();
        $("#mob_result6").empty();
        $("#mob_result7").empty();
        $("#mob_result8").empty();
        $("#mob_result9").empty();
        $("#mob_result10").empty();
        var id = $("#item_name").val();
        var a = 1, b = 1, c = 1, d = 1, e = 1, f = 1, g = 1, h = 1, j = 1, t = 1;
        $.ajax({
            url: '/Guide/itemSearch/' + id,
            type: 'POST',
            dataType: 'json',
            success: function (veri) {
                $.each(veri, function (i, drop) {

                    
                    switch (drop.zon_id) {

                        case 21:
                                                
                            $("#sonucalani").css("display", "block"); 
                            $("#mob_count1").html(a++);
                            $("#mob_result1").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            
                            break;
                        case 2:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count2").html(b++);
                            $("#mob_result2").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 1:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count3").html(c++);
                            $("#mob_result3").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 33:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count4").html(d++);
                            $("#mob_result4").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 71:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count5").html(e++);
                            $("#mob_result5").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 32:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count6").html(f++);
                            $("#mob_result6").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 11:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count7").html(g++);
                            $("#mob_result7").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 12:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count8").html(h++);
                            $("#mob_result8").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 34:
                           
                            $("#sonucalani").css("display", "block");
                            $("#mob_count9").html(j++);
                            $("#mob_result9").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;
                        case 31:
                            
                            $("#sonucalani").css("display", "block");
                            $("#mob_count10").html(t++);
                            $("#mob_result10").append('<a onclick="openCity(event, ' + drop.mon_id + ')" data-id="' + drop.mon_id + '" class="store_sub_category_button"><span>' + drop.mon_name + '</span></a>');
                            break;

                           
                    }
                    
                        
                    
                });
                 
                if (a <= 1) {
                    $("#mob_count1").html(0);
                    $("#mob_result1").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (b <= 1) {
                    $("#mob_count2").html(0);
                    $("#mob_result2").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (c <= 1) {
                    $("#mob_count3").html(0);
                    $("#mob_result3").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (d <= 1) {
                    $("#mob_count4").html(0);
                    $("#mob_result4").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (e <= 1) {
                    $("#mob_count5").html(0);
                    $("#mob_result5").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (f <= 1) {
                    $("#mob_count6").html(0);
                    $("#mob_result6").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (g <= 1) {
                    $("#mob_count7").html(0);
                    $("#mob_result7").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (h <= 1) {
                    $("#mob_count8").html(0);
                    $("#mob_result8").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (j <= 1) {
                    $("#mob_count9").html(0);
                    $("#mob_result9").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                if (t <= 1) {
                    $("#mob_count10").html(0);
                    $("#mob_result10").append('<a class="store_sub_category_button"><span>Sonuç Bulunamadı</span></a>');
                }
                
            }


        });
        
        
    });
</script>
