
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside id="right" class="mainside">
    <style type="text/css">
        .mainside .mainbox .mainbox-inner .mainbox-body {
            padding: 0
        }
    </style>
    <div id="page-character" class="mainbox page page-character">


        <style>
            #form_container {
                width: 600px;
                text-align: center;
                padding-top: 50px;
                padding-left: 170px;
            }
        </style>
        <div id="content_ajax">
            <div id="page-ucp" class="mainbox page page-ucp">
                <div class="mainbox-inner page-inner">
                    <div class="mainbox-header page-header border_box">
                        <h3 class="page_title overflow_ellipsis"><span>Kofenix</span> &#129138; Şifremi Unuttum</h3>
                    </div>
                    <!-- CONTENT -->
                    <div id="forgotpw_container">

                        <table id="pw1" style="width:100%; display:block; margin-left:50px;">
                            <tbody>
                                <tr>
                                    <td><label for="strAccountID">Kullanıcı Adı</label> :</td>
                                    <td style="width:78%;">
                                        <p class="login-in">
                                            <input id="login_input" type="text" required />
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="ProcessType">Sıfırlama Y&#246;ntemi</label> :</td>
                                    <td>
                                        <p class="password-in">
                                            <select data-val="true" data-val-number="The field Sıfırlama Yöntemi must be a number." data-val-required="The Sıfırlama Yöntemi field is required." id="ProcessType" name="ProcessType">

                                                <option value="2">Email &#252;zerinden değiştir</option>
                                            </select>
                                        </p>
                                    </td>
                                </tr>
                                <tr style="height:50px;">
                                    <td></td>
                                    <td>
                                        <input id="sendresetpw" type="submit" value="Devam >" name="submit_processtype" tabindex="3">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="pw2" style="width:100%; display:none; margin-left:25px;">
                            <tbody>

                                <tr>
                                    <td><label>Yeni Şifre</label> :</td>
                                    <td>

                                        <input id="pass" placeholder="Yeni Şifre" type="password" required maxlength="10" />

                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Yeni Şifre Tekrar</label> :</td>
                                    <td>

                                        <input id="passnew" placeholder="Yeni Şifre Tekrar" type="password" required maxlength="10" />

                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Şifre Yenileme Kodu</label> :</td>
                                    <td style="width:78%;">

                                        <input id="keys" placeholder="Şifre Yenileme Kodu" type="text" maxlength="100" />

                                    </td>
                                </tr>
                                <tr style="height:50px;">
                                    <td></td>
                                    <td>
                                        <input id="sendresetpw2" type="submit" value="Tamamla..!" name="submit_processtype" tabindex="3">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display:none;" id="mailsending" class="complete_msg">
                            <img src="~/Content/images/loading2.gif" /><br>Kullanıcı adınız başarıyla doğrulandı.<br />Şifre yenileme kodu mailinize gönderildi.<br />

                            <br />
                            <br />

                            <p style="color:#ffb62c;"> Şifre yenileme sayfasına yönlendiriliyorsunuz lütfen bekleyiniz...</p>
                        </div>
                        <div style="display:none;" id="succespw" class="complete_msg">
                            <p style="color:#ffb62c;">Tebrikler,</p> Şifre yenileme işlemi başarıyla gerçekleştirildi.
                            <br />Yeni şifreniz ile giriş yapabilirsiniz..
                            <br />Anasayfaya yönlendiriliyorsunuz lütfen bekleyiniz...
                            <br />
                            <br />
                            <center><img src="~/Content/images/loading2.gif" /></center>
                        </div>
                        <div id="uyari8" class="container_3 red wide fading-notification" align="left" style="display: none;"><span class="error_icons atention"></span><p>Kullanıcı Adı Bulunamadı!</p></div>
                        <br />

                    </div>
                    <!-- CONTENT -->
                </div>
            </div>
        </div>
    </div>
</aside>
<script>
    $(document).on("click", "#sendresetpw", function () {
        $("#pw1").css("display", "none");
        $("#mailsending").css("display", "block");
        query();
    });
    $(document).on("click", "#sendresetpw2", function () {
        
        query2();
    });
    function query() {        
        var usrdt = {
            username: $('#login_input').val()
        };
        $.ajax({           
            url: '/Home/Resetpw',
            type: 'POST',
            data: JSON.stringify(usrdt),            
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data == "1") {
                    $("#pw1").css("display", "none");
                    $("#pw2").css("display", "block");
                    $("#mailsending").css("display", "none");
                }
            }
        });
    }
    function query2() {
        var usrdt = {
            kod: $('#keys').val(),
            pass: $('#pass').val(),
            passnew: $('#passnew').val()
        };
        $.ajax({
            url: '/Home/Resetpwcommit',
            type: 'POST',
            data: JSON.stringify(usrdt),
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data == "1") {
                    $("#pw1").css("display", "none");
                    $("#pw2").css("display", "none");
                    $("#succespw").css("display", "block");
                    $("#mailsending").css("display", "none");
                    setTimeout(function () {
                        window.location.assign("/");
                        //9 saniye sonra yönlenecek
                    }, 9000);
                }
            }
        });
    }
    //------------------------------------Kontroller---------------
    $("#login_input").on("change paste keyup select propertychange input", function () {
        var kadi = $("#login_input").val();
        if (kadi.length > 0) {

            $("#uyari8").css("display", "none");
            $("#sendresetpw").prop("disabled", false);
        }
        else {
            $("#uyari8").css("display", "block");
            $("#sendresetpw").prop("disabled", true);
        }
        var degerler = {
            strAccountIDdtt: $("#login_input").val()

        };
        $.ajax({
            url: '/Register/namecheck',
            type: 'POST',
            data: JSON.stringify(degerler),
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            success: function (data) {

                if (data == 1) {

                    $("#uyari8").css("display", "none");
                    $("#sendresetpw").prop("disabled", false);
                }
                else {
                    $("#uyari8").css("display", "block");
                    $("#sendresetpw").prop("disabled", true);
                }



            }

        });


    });
    $(document).ready(function () {

        $("#sendresetpw").prop("disabled", true);

    });

</script>

