
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside id="right" class="mainside">
    <style type="text/css">
        .mainside .mainbox .mainbox-inner .mainbox-body {
            padding: 0
        }
    </style>
    <div id="page-character" class="mainbox page page-character">


        <style>
            #form_container {
                width: 600px;
                text-align: center;
                padding-top: 50px;
                padding-left: 170px;
            }
        </style>
        <div id="content_ajax">
            <div id="page-ucp" class="mainbox page page-ucp">
                <div class="mainbox-inner page-inner">
                    <div class="mainbox-header page-header border_box">
                        <h3 class="page_title overflow_ellipsis"><span>Kofenix</span> &#129138; Şifremi Unuttum</h3>
                    </div>
                    <!-- CONTENT -->
                    <div id="forgotpw_container">
                        
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td style="width:40%;"><label for="strAccountID">Kullanıcı Adı</label> :</td>
                                        <td>
                                            <p class="login-in">
                                                <input name="__RequestVerificationToken" type="hidden" value="Fnn1Xb6amSPfVa4CaVLYCgV7Y2q4E9BkjXnc5gdUfV968Sk6FsoCeVzunkbUcl2Wson7ztJ-4rOD8H5F7Bw8CQ3hM5k5ROuHOcQLTtRB8Rk1" />
                                                <input class="input-validation-error text-box single-line" data-val="true" data-val-length="Kullanıcı Adı en az 4 en fazla 12 karakterden oluşabilir." data-val-length-max="12" data-val-length-min="4" data-val-regex="Kullanıcı Adı geçersiz formatta." data-val-regex-pattern="^[a-zA-Z0-9 ,]+$" data-val-required="Kullanıcı Adı Boş geçilemez." id="login_input" name="strAccountID" tabindex="1" type="text" value="" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:40%;"><label for="ProcessType">Sıfırlama Y&#246;ntemi</label> :</td>
                                        <td>
                                            <p class="password-in">
                                                <select data-val="true" data-val-number="The field Sıfırlama Yöntemi must be a number." data-val-required="The Sıfırlama Yöntemi field is required." id="ProcessType" name="ProcessType">
                                                    <option value="1">Telefon &#252;zerinden değiştir</option>
                                                    <option value="2">Email &#252;zerinden değiştir</option>
                                                </select>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr style="height:50px;">
                                        <td></td>
                                        <td>
                                            <input type="submit" value="Devam >" name="submit_processtype" tabindex="3">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                        
                    </div>
                    <!-- CONTENT -->
                </div>
            </div>
        </div>
    </div>
</aside>

