table tbody tr td span img {
    top: -1px;
    vertical-align: middle
}

.mainside #page-page .page-inner .page-body img, .mainside #page-page .page-inner .page-body video, .mainside #page-page .page-inner .page-body table, .mainside #page-page .page-inner .page-body iframe {
    max-width: 100%
}

.mainside #page-page .page-inner .page-body b, .mainside #page-page .page-inner .page-body strong {
    font-weight: 700
}

.mainside #page-page .page-inner .page-body i {
    font-style: italic
}

.mainside #page-page .page-inner .page-body u {
    text-decoration: underline
}

.mainside #page-page .page-inner .page-body ul, .mainside #page-page .page-inner .page-body ol {
    padding-left: 20px
}

    .mainside #page-page .page-inner .page-body ul li, .mainside #page-page .page-inner .page-body ol li {
        list-style: disc
    }

#event_container .event_container {
    width: 100%;
    height: 235px;
    margin: 0 0 16px;
    display: block;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 16px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.4);
    border-bottom: 3px #0c0c0c solid;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center
}

    #event_container .event_container:before {
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        background: -moz-linear-gradient(left,rgba(255,255,255,.05) 0%,rgba(255,255,255,.05) 100%);
        background: -webkit-linear-gradient(left,rgba(255,255,255,.05) 0%,rgba(255,255,255,.05) 100%);
        background: linear-gradient(to right,rgba(255,255,255,.05) 0%,rgba(255,255,255,.05) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0dffffff',endColorstr='#0dffffff',GradientType=1)
    }

    #event_container .event_container:after {
        width: 33px;
        height: 29px;
        top: -10px;
        right: -10px;
        content: "";
        position: absolute;
        background-color: transparent;
        background-image: url(../images/misc/quote.png);
        background-repeat: no-repeat;
        background-position: center center
    }

    #event_container .event_container span.box1 {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 15px;
        text-align: center;
        line-height: 52px
    }

        #event_container .event_container span.box1:before {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 5px #000 solid;
            border: 5px rgba(0,0,0,.4) solid;
            content: "";
            position: absolute;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box
        }

        #event_container .event_container span.box1:after {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 2px #42413e solid;
            content: "";
            position: absolute;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box
        }

#event_container .event_text {
    background-image: url(../images/event_text_bg.png);
    width: 302px;
    height: 50px;
    margin: 5px 0 0 -10px;
}

#event_container .event_name {
    float: left;
    width: 175px;
    color: #eea923;
    line-height: 37px;
    text-align: center;
    font-style: inherit;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    letter-spacing: .5px;
    text-transform: uppercase;
}

#event_container .event_time {
    float: right;
    width: 120px;
    line-height: 37px;
    text-align: center;
    font-style: inherit;
    font-size: 11px;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    letter-spacing: .5px;
    text-transform: uppercase;
}

    #event_container .event_name:before,
    #event_container .event_time:before {
        width: 100%;
        height: 10px;
        top: 15px;
        left: 0;
        z-index: 9;
        opacity: .8;
        content: "";
        position: absolute;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);        
        background: -moz-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,.35) 30%,rgba(0,0,0,.35) 70%,rgba(0,0,0,0) 100%);
        background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,.35) 30%,rgba(0,0,0,.35) 70%,rgba(0,0,0,0) 100%);
        background: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,.35) 30%,rgba(0,0,0,.35) 70%,rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#00000000',GradientType=1)
    }

#event_container .event-6 {
    background-image: url(../images/events/event-6.png);
}

#event_container .event-9 {
    background-image: url(../images/events/event-9.png);
}

#event_container .event-5 {
    background-image: url(../images/events/event-5.png);
}

#event_container .event-7 {
    background-image: url(../images/events/event-7.png);
}

#event_container .event-4 {
    background-image: url(../images/events/event-4.png);
}

#event_container .event-10 {
    background-image: url(../images/events/event-10.png);
}

#event_container .event_container span.box2 {
    height: 100%;
    display: block;
    padding: 0 15px;
    text-align: center;
    line-height: 52px
}

    #event_container .event_container span.box2:before {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 5px #000 solid;
        border: 5px rgba(0,0,0,.4) solid;
        content: "";
        position: absolute;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }

    #event_container .event_container span.box2:after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 2px #42413e solid;
        content: "";
        position: absolute;
        box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box
    }

#event_container .event_pagination {
    margin: 130px 0 0 60px;
    width: 165px;
    height: 36px;
    background-color: #2e2e2d;
    display: block;
    box-shadow: 0 0 16px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 16px 0 rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.4);
}

    #event_container .event_pagination a {
        z-index: 9999;
        float: left;
        width: 16px;
        height: 16px;
        top: 10px;
        color: transparent;
        opacity: .9;
        font-size: 0;
        text-indent: -999999px;
        vertical-align: top;
        background-color: transparent;
        background-image: url(../images/misc/slider-btn.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-left: 3px;
    }

        #event_container .event_pagination a:hover {
            opacity: 1;
            background-position: bottom right;
        }

    #event_container .event_pagination .selected {
        opacity: 1;
        background-position: bottom right;
    }

table.rankTable {
    box-shadow: inset 0 0 0 2px #0f0f0f, 0 0 0 0 #0a0a0a, 0 0 8px 0 #101010;
    -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
    -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 0 0 0 #0a0a0a, 0 0 8px 0 #101010;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    color: #828282;
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-left: -19px;
    margin-top: -5px;
    margin-bottom: -5px;
    width: 700px;
    text-align: left;
}

    table.rankTable a {
        color: #7b7872;
        font-size: 11px;
        font-family: 'Merriweather Sans', sans-serif;
    }

        table.rankTable a:hover {
            color: #a19e98;
        }

    table.rankTable td, table.rankTable th {
        padding: 3px 0 3px 10px;
    }

    table.rankTable tbody td {
        background-image: url(../images/misc/line-sep.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-position-y: -2px;
    }

    table.rankTable tbody tr:nth-child(even) {
        background-color: rgba(49, 49, 49, 0.2);
    }

    table.rankTable tbody tr:nth-child(odd) {
    }

    table.rankTable thead th {
        background: #0D334D;
        background: -moz-linear-gradient(top, #313131 0%, #313131 66%, #22211f 100%);
        background: -webkit-linear-gradient(top, #313131 0%, #313131 66%, #22211f 100%);
        background: linear-gradient(to bottom, #313131 0%, #313131 66%, #22211f 100%);
        color: #c4c1ba;
        font-style: inherit;
        font-family: 'Merriweather Sans', sans-serif;
    }

        table.rankTable thead th:first-child {
        }

.nation, .class, .grade, .symbol {
    background-image: url(../images/icon.bmp);
    vertical-align: middle;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 2px;
}

.clanicon {
    background-size: 16px 16px;
    vertical-align: middle;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.nation.n1 {
    background-position: 0px -32px;
}

.nation.n2 {
    background-position: -16px -32px;
}

.class.c11 {
    background-position: -32px -32px;
}

.class.c12 {
    background-position: -48px -32px;
}

.class.c13 {
    background-position: -64px -32px;
}

.class.c14 {
    background-position: -80px -32px;
}

.class.c15 {
    background-position: -161px -32px;
}

.class.c25 {
    background-position: -176px -32px;
}

.class.c21 {
    background-position: -96px -32px;
}

.class.c22 {
    background-position: -112px -32px;
}

.class.c23 {
    background-position: -128px -32px;
}

.class.c24 {
    background-position: -144px -32px;
}

.grade.g1 {
    background-position: 0px 0px;
}

.grade.g2 {
    background-position: -16px 0px;
}

.grade.g3 {
    background-position: -32px 0px;
}

.grade.g4 {
    background-position: -48px 0px;
}

.grade.g5 {
    background-position: -64px 0px;
}

.grade.g6 {
    background-position: -80px 0px;
}

.grade.g7 {
    background-position: -96px 0px;
}

.grade.g8 {
    background-position: -112px 0px;
}

.grade.g9 {
    background-position: -128px 0px;
}

.grade.g10 {
    background-position: -144px 0px;
}

.grade.g11 {
    background-position: -160px 0px;
}

.grade.g12 {
    background-position: -176px 0px;
}

.grade.g13 {
    background-position: -192px 0px;
}

.grade.g14 {
    background-position: -208px 0px;
}

.grade.g15 {
    background-position: -224px 0px;
}

.symbol.a1 {
    background-position: 0px -16px;
}

.symbol.a2 {
    background-position: -16px -16px;
}

.symbol.a3 {
    background-position: -32px -16px;
}

.symbol.a4 {
    background-position: -48px -16px;
}

.symbol.a5 {
    background-position: -64px -16px;
}

.symbol.a6 {
    background-position: -80px -16px;
}

.symbol.b1 {
    background-position: -96px -16px;
}

.symbol.b2 {
    background-position: -112px -16px;
}

.symbol.b3 {
    background-position: -128px -16px;
}

.symbol.b4 {
    background-position: -144px -16px;
}

.symbol.b5 {
    background-position: -160px -16px;
}

.symbol.b6 {
    background-position: -176px -16px;
}

.pointer {
    cursor: pointer;
}

#home_rankings {
    width: 710px;
    min-height: 340px;
    height: 100%;
    margin: 20px 20px 20px 20px;
}

    #home_rankings li a:hover {
        color: #f0a31c;
        border-color: #792121
    }

    #home_rankings li a.selected {
        color: #f0a31c !important;
        border-color: #792121 !important;
    }

    #home_rankings li {
        display: inline-block;
    }

        #home_rankings li a {
            margin: 0 0 0 7px;
            padding: 3px 8px;
            display: inline-block;
            font-size: 11px;
            transform: skewX(-7deg);
            -o-transform: skewX(-7deg);
            -ms-transform: skewX(-7deg);
            -moz-transform: skewX(-7deg);
            -webkit-transform: skewX(-7deg);
            width: auto;
            height: auto;
            color: #828282;
            cursor: pointer;
            padding: 6px 20px;
            text-align: center;
            box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
            -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
            -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
            font-family: 'Merriweather Sans', sans-serif;
            text-shadow: 0 2px 0 rgba(0,0,0,.4);
            border-width: 2px;
            border-style: solid;
            border-color: #313131;
            border-radius: 0;
            -moz-border-radius: 0;
            -webkit-border-radius: 0;
            text-transform: uppercase;
            background-color: #191919;
            transition: color .3s ease-in-out,border-color .3s ease-in-out;
            -o-transition: color .3s ease-in-out,border-color .3s ease-in-out;
            -ms-transition: color .3s ease-in-out,border-color .3s ease-in-out;
            -moz-transition: color .3s ease-in-out,border-color .3s ease-in-out;
            -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out;
        }

    #home_rankings #content {
        margin-top: 7px;
        margin-left: 4px;
        font-size: 11px;
        color: #828282;
        cursor: pointer;
        padding: 6px 20px;
        box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
        -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
        -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
        font-family: 'Merriweather Sans', sans-serif;
        text-shadow: 0 2px 0 rgba(0,0,0,.4);
        border-width: 2px;
        border-style: solid;
        border-color: #313131;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        background-color: #191919;
        transition: color .3s ease-in-out,border-color .3s ease-in-out;
        -o-transition: color .3s ease-in-out,border-color .3s ease-in-out;
        -ms-transition: color .3s ease-in-out,border-color .3s ease-in-out;
        -moz-transition: color .3s ease-in-out,border-color .3s ease-in-out;
        -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out;        
    }

#tab-2, #tab-3, #tab-4, #tab-5 {
    display: none;
}


.login-box {
    padding: 33px
}

    .login-box input[type='text'], .login-box input[type='password'] {
        width: 351px;
        height: 41px;
        margin: 0 0 20px 0
    }

    .login-box input[type='submit'] {
    }

    .login-box p {
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: #a9a5a1;
        text-shadow: 0 0 5px rgba(0, 0, 0, .15), 1px 0px 1px rgba(0, 0, 0, .25);
        padding: 0 0 5px 2px
    }

.login-box-options {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .05), 0 -1px 0 rgba(0, 0, 0, .3);
    padding: 10px 0 0 0;
    margin: 22px 0 0 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    color: #74634d;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .45), 0 0 5px rgba(0, 0, 0, .95)
}

.login-page {
    width: 78%;
    text-align: left;
    padding: 30px 0 0 0
}

.login-success {
    padding: 20px 0 20px 0;
    text-align: center;
    text-shadow: 0 0 8px rgba(0, 0, 0, .5)
}

    .login-success h1 {
        color: #b6a98f;
        margin: 0 0 12px 0
    }


.login-box-row {
}

    .login-box-row label.label_check {
        margin: 10px 0 0 10px
    }

.container_3 {
    width: 633px;
    height: auto;
    min-height: 40px;
    background: rgba(31, 23, 19, .80);
    box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .5), inset 0 0 0 1px rgba(255, 255, 255, .015), inset 0 1px 0 rgba(255, 255, 255, .05);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 14px 0;
    padding: 35px 0 25px 0;
    z-index: 1
}

.login-box-holder {
    width: 436px;
    height: 431px;
    top: 30%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    box-shadow: inset 0 0 0 2px #2b221a, 0 0 10px #000, 0 0 10px #000, inset 0 0 15px rgba(0, 0, 0, .6), 0 0 85px #000;
    box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
    -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
    -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    border-width: 2px;
    border-style: solid;
    border-color: #313131;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #191919;
    transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out;
}

#Login-box_container {
    position: fixed;
    z-index: 10000;
    opacity: 0;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

#Alert-box_container {
    position: fixed;
    z-index: 10000;
    opacity: 0;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}

.login-box-close {
    margin: -30px -30px 0 0;
    text-align: center;
    width: 20px;
    height: 20px;
    float: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-left: 2px solid #313131;
    border-bottom: 2px solid #313131;
    color: #a9a5a1;
    text-shadow: 0 0 5px rgba(0, 0, 0, .15), 1px 0px 1px rgba(0, 0, 0, .25);
}

    .login-box-close:hover {
        color: #d6991f;
    }

.mainside .mainbox .mainbox-inner .mainbox-body .divider2 {
    width: 100%;
    height: 13px;
    clear: both;
    margin: 20px auto;
    background-size: 100% auto;
    background-color: transparent;
    background-image: url(../images/divider.png);
    background-repeat: no-repeat;
    background-position: top center
}

.rankTable.All {
    margin-top: 10px !important;
    margin-left: 20px !important;
    width: 96% !important;
}

.rankTable.All2 {
    margin-left: 20px !important;
    margin-bottom: 20px !important;
    width: 96% !important;
}

#imaged_header p {
    float: left;
    display: block;
    margin-left: 3px;
    margin-top: 3px;
}

#imaged_header {
    width: 750px;
    float: left;
    padding: 10px;
    margin-left: 5px;
}

    #imaged_header img {
        padding: 3px;
        float: left;
        border: 3px solid rgba(0, 0, 0, 0.1);
    }

.table_img_item {
    padding:5px;
    margin-bottom:-10px;    
}

#imaged_header img:hover {
    border: 3px solid rgb(151, 121, 59);
}

#imaged_header img.selected {
    border: 3px solid rgb(151, 121, 59) !important;
}

.dataLoading {
    text-align: center;
    color: #bcb7b3;
    display: block;
    font-size: 12px;
    line-height: 35px;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
}

#chest_detail {
    z-index: 9999;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
}

    #chest_detail .icon {
        width: 45px;
        height: 45px;
        padding: 5px;
        float: left;
    }

    #chest_detail .text {
        float: left;
        padding: 5px;
        text-align: left;
        line-height: 50px;
    }

    #chest_detail .goback {
        float: right;
        padding: 5px;
        text-align: left;
        line-height: 50px;
    }

#mining_header {
    position:absolute;
    margin-top:20px;
    margin-left:540px;    
    text-align:left;
}

.onlinecount {
    text-align: center;
    color: #cec9bf;
    font-size: 11px;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    letter-spacing: .5px;
    text-transform: uppercase;
}

    .onlinecount span {
        font-weight: bold;
        color: #efac1b;
    }

#login_input, #password_input {
    background-repeat: no-repeat;
    background-position: left;
    height: 32px;
    padding: 0px 10px 0px 50px;
    width: calc(100% - 60px);
}

.login-in input {
    background-image: url(../images/login-icon.png);
}

.password-in input {
    background-image: url(../images/password-icon.png);
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 218px;
    margin-top: 4px;
}

.store_product_list .category {
    width: 915px;
    color: #706352;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 11px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    display: block;
    border: 1px solid rgba(0, 0, 0, .35);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    box-shadow: inset 0 1px 0 rgba(194, 181, 132, .05), inset 0 0 3px rgba(255, 255, 255, .02), 0 0 10px rgba(0, 0, 0, .25);
    margin-left: 20px;
    margin-bottom: -10px;
}

.store_product_list {
    width: 980px;
    font-family: 'Merriweather Sans', sans-serif;
}

    .store_product_list .items {
        list-style: none;
        padding: 15px 15px 15px 18px;
    }

        .store_product_list .items .item a {
            float: left;
            width: 220px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .store_product_list .items .item {
            background-image: url(../images/top_voters_line.png);
            background-repeat: no-repeat;
            background-position: bottom left;
            height: 53px;
            width: 298px;
            display: inline-block;
            color: #706352;
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 11px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
            border: 1px solid rgba(0, 0, 0, .35);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding: 3px;
            margin: 3px;
            box-shadow: inset 0 1px 0 rgba(194, 181, 132, .05), inset 0 0 3px rgba(255, 255, 255, .02), 0 0 10px rgba(0, 0, 0, .25);
            background-image: url(../images/store_item_hover.png);
        }

            .store_product_list .items .item #hover {
                width: 100%;
                height: 57px;
                background-image: url(../images/store_item_hover.png);
                background-repeat: no-repeat;
                background-position: top left;
                background-color: transparent;
                position: absolute;
                top: 0px;
                left: 0px;
                pointer-events: none;
                opacity: 0;
                visibility: hidden;
            }

    .store_product_list #icon {
        float: left;
        display: block;
        width: 37px;
        height: 37px;
        background-repeat: no-repeat;
        background-size: 100%;
        border-style: solid;
        border-width: 1px;
        box-shadow: inset 0 0 6px #000, 0 0 3px rgba(208, 179, 133, .35);
        margin: 7px 0 0 12px;
    }

    .store_product_list #middle {
        float: left;
        margin-left: 15px;
        margin-top: 7px;
        text-align: left;
    }

        .store_product_list #middle a {
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 14px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
        }

        .store_product_list #middle p {
            color: #534a3f;
            font-family: 'Merriweather Sans', sans-serif;
            font-size: 11px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
            margin-top: 5px;
        }

.container_reseller {
    height: auto;
    min-height: 40px;
    background: rgba(31,23,19,.80);
    box-shadow: 0 0 4px rgba(0,0,0,.6), 0 1px 1px rgba(0,0,0,.5), inset 0 0 0 1px rgba(255,255,255,.015), inset 0 1px 0 rgba(255,255,255,.05);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 35px 0 25px 0;
    z-index: 1;
    margin: 15px;
    width: 800px;
}

#termsofuse_content {
    padding: 50px;
    line-height: 37px;
    font-style: inherit;
    font-size: 14px;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    letter-spacing: .5px;
    text-transform: uppercase;
}

    #termsofuse_content h3 {
        color: #eea923;
    }

    #termsofuse_content p {
        margin-bottom: 20px;
    }

.page_form {
    padding: 30px;
}

.green {
    box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .5), inset 0 0 0 1px rgba(66, 255, 0, .1), inset 0 0 28px 25px rgba(66, 255, 0, .05), inset 0 0 18px 0px rgba(66, 255, 0, .15);
    color: #54a22c;
    text-shadow: 0 1px 0 #000, 0 0 6px #000
}

.red {
    box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .5), inset 0 0 0 1px rgba(255, 66, 0, .1), inset 0 0 28px 25px rgba(255, 66, 0, .05), inset 0 0 18px 0px rgba(255, 66, 0, .15);
    color: #a23535;
    text-shadow: 0 1px 0 #000, 0 0 6px #000
}

.light_brown {
    box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .5), inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 0 28px 25px rgba(255, 255, 255, .03), inset 0 0 18px 0px rgba(255, 255, 255, .1);
    color: #6c6c6c;
    text-shadow: 0 1px 0 #000, 0 0 6px #000
}

.grlb-a-fix {
    display: block;
    width: 99%;
    padding: 0
}

a.light_brown:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .6), 0 1px 1px rgba(0, 0, 0, .5), inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 0 28px 25px rgba(255, 255, 255, .03), inset 0 0 18px 0px rgba(255, 255, 255, .06)
}

.green, .red, .light_brown {
    padding: 0
}

.wide {
    width: 100%
}

.wider {
    width: 100%
}

.error-holder {
    width: 100%;
    margin-left: 50px;
    margin-top: 20px;
}

.green p, .red p, .light_brown p {
    font-size: 12px;
    padding: 0 12px 0 10px;
    display: inline-block;
    margin: 13px 0 13px 0;
    vertical-align: top
}

.error_icons {
    background-image: url(../images/misc_main.png);
    background-repeat: no-repeat;
    background-color: transparent;
    width: auto;
    height: 28px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 8px;
    top: 6px
}

.atention {
    width: 28px;
    background-position: -892px -0px
}

.success {
    width: 28px;
    background-position: -920px -0px
}

.mail {
    width: 30px;
    background-position: -948px -0px
}


#register_form .alert {
    text-align: left;
    margin-left: 65px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#register_form input[type=submit] {
    margin-right: 5px;
}

#login_content .complete_msg {
    width: 100%;
    font-size: 13px;
}

fieldset {
    width: 600px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 55px;
    font-size: 11px;
    color: #828282;
    cursor: pointer;
    padding: 6px 20px;
    box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
    -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
    -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    border-width: 2px;
    border-style: solid;
    border-color: #313131;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #191919;
    transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out;
}

legend {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 11px;
    color: #828282;
    cursor: pointer;
    padding: 6px 20px;
    box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
    -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
    -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 2px 0 0 #0a0a0a, 0 0 8px 0 #101010;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    border-width: 2px;
    border-style: solid;
    border-color: #313131;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #191919;
    transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out,border-color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out,border-color .3s ease-in-out;
}

#General, #Monthly, #Clan, #Kings, #GameMasters {
    display: none;
    min-height: 50px;
}



#dataDiv {
    display: block;
    float: left;
    width: 100%;
    margin-left: -5px;
}

#cache_time {
    float: right;
    padding-top: 25px;
}

#frmselect {
    float: left;
    width: 190px;
    margin-right: 10px;
}

#ranking_select_container {
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#json_error {
    box-shadow: inset 0 0 0 2px #0f0f0f, 0 0 0 0 #0a0a0a, 0 0 8px 0 #101010;
    -moz-box-shadow: inset 0 0 0 2px #0f0f0f,0 2px 0 0 #0a0a0a,0 0 8px 0 #101010;
    -webkit-box-shadow: inset 0 0 0 2px #0f0f0f, 0 0 0 0 #0a0a0a, 0 0 8px 0 #101010;
    font-family: 'Merriweather Sans', sans-serif;
    text-shadow: 0 2px 0 rgba(0,0,0,.4);
    color: #828282;
    font-size: 12px;
    width: 738px;
    text-align: center;    
    padding:5px;
    margin-top:20px;
    margin-left:6px;
}