
@{
    ViewBag.Title = "Resellers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .mainside .mainbox .mainbox-inner .mainbox-body {
        padding: 0
    }
</style>
<div id="page-character" class="mainbox page page-character">


    <div class="mainbox-inner page-inner">
        <div class="mainbox-header page-header border_box">
            <h3 class="page_title overflow_ellipsis"><span>KoFeNiX</span> &#129138; Bayiler</h3>
            <div id="cache_time"></div>
        </div>
        <div class="mainbox-body page-body self_clear">

            <div class="reseller">

                <a href="https://www.klasgame.com/mmorpg-oyunlar/oracle-gamer/oracle-gamer-kc">
                    <section class="box">
                        <h4 class="title border_box">www.<i>KLASGAME</i>.com</h4>
                        <div class="body border_box">
                            <div id="toppvp_realm_0" class="toppvp_realm toppvp_realm_0">
                                <div class="toppvp_data">
                                    <img src="https://www.klasgame.com/theme/default/assets/img/logo.png?v=1" />
                                </div>
                                <div class="toppvp_select border_box">
                                    <span class="r_name" title="">Buradan Alışveriş yapmak için tıklayın.</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </a>

                <a href="https://www.bursagb.com/oraclegamer-knight-mmorpg-pvp">
                    <section class="box">
                        <h4 class="title border_box">www.<i>BURSAGB</i>.com</h4>
                        <div class="body border_box">
                            <div id="toppvp_realm_0" class="toppvp_realm toppvp_realm_0">
                                <div class="toppvp_data">
                                    <img src="https://cdn.trinkpay.com/bursagb/asset/image/logo/bursagb12yil.webp" />
                                </div>
                                <div class="toppvp_select border_box">
                                    <span class="r_name" title="">Buradan Alışveriş yapmak için tıklayın.</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </a>

                <table class="price_table center">
                    <thead>
                        <tr>
                            <th>Ücret</th>
                            <th width="150">CashPoint</th>
                            <th width="150">Bonus</th>
                            <th width="150" class="reward">Toplam</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>10 ₺</td>
                            <td>500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>-</td>
                            <td class="reward">500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                        <tr>
                            <td>20 ₺</td>
                            <td>1000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>-</td>
                            <td class="reward">1000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                        <tr>
                            <td>30 ₺</td>
                            <td>1,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>75 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">1,575 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                        <tr>
                            <td>40 ₺</td>
                            <td>2,000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>100 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">2,100 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                        <tr>
                            <td>50 ₺</td>
                            <td>2,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>125 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">2,625 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                        <tr>
                            <td>60 ₺</td>
                            <td>3,000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>150 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">3,150 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                        <tr>
                            <td>70 ₺</td>
                            <td>3,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>175 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">3,675 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>
                        <tr>
                            <td>80 ₺</td>
                            <td>4,000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>400 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">4,400 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>
                        <tr>
                            <td>100 ₺</td>
                            <td>5000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">5,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>
                        <tr>
                            <td>150 ₺</td>
                            <td>7,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>750 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">8,250 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>
                        <tr>
                            <td>200 ₺</td>
                            <td>11,000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>1200 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">12,200 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>
                        <tr>
                            <td>250 ₺</td>
                            <td>13,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>2000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">15,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>
                        <tr>
                            <td>500 ₺</td>
                            <td>27,000 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td>4500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                            <td class="reward">31,500 <img src="http://shaiya.eterniagames.com/images/g-coin.png" border="0" height="15"></td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>

