
@{
    ViewBag.Title = "SaveMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .mainside .mainbox .mainbox-inner .mainbox-body {
        padding: 0
    }
</style>
<div id="page-character" class="mainbox page page-character">


    <div class="mainbox-inner page-inner">
        <div class="mainbox-header page-header border_box">
            <h3 class="page_title overflow_ellipsis"><span>KoFeNiX</span> &#129138; Kayıt Ol</h3>
            <div id="cache_time"></div>
        </div>

        <div class="mainbox-body page-body self_clear">
            <div id="forgotpw_container">
                <br />
                <div id="login_content" class="container_2">
                    <div class="complete_msg">
                        Tebrikler,<p style="color:#ffb62c;">@Session["strAccountID"].ToString()</p> üyeliğiniz başarıyla oluşturuldu.<br />Kullanıcı paneline yönlendiriliyorsunuz lütfen bekleyiniz...
                        <br />
                        <br />
                        <center><img src="Content/images/ajax.gif" /></center>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        window.location.assign("/Account");
        //5 saniye sonra yönlenecek
    }, 5000);
</script>
































