
@{
    ViewBag.Title = "Passsend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .mainside .mainbox .mainbox-inner .mainbox-body {
        padding: 0
    }
</style>
<div id="page-character" class="mainbox page page-character">


    <div class="mainbox-inner page-inner">
        <div class="mainbox-header page-header border_box">
            <h3 class="page_title overflow_ellipsis"><span>KoFeNiX</span> &#129138; Hesap Parolası Değiştir</h3>
            <div id="cache_time"></div>
        </div>

        <div class="mainbox-body page-body self_clear">
            <div id="forgotpw_container">
                <br>
                <h1>Doğrulama</h1>
                <span></span>
                <p>Şifreniz ***********forever.com adresine gönderildi.</p>
                <p>Gönderilen kodu aşağıdaki kutucuğa giriniz.</p>
                <form action="/Account/PasswordChange/2" id="register_form" method="post">
                    <input value="2" class="text-box single-line" data-val="true" data-val-number="The field Sıfırlama Yöntemi must be a number." data-val-required="The Sıfırlama Yöntemi field is required." id="ProcessType" name="ProcessType" style="display: none" type="number">                    <br>
                    <center>
                        <table>
                            <tbody>
                                <tr>
                                    <td><input class="input-validation-error text-box single-line" data-val="true" data-val-range="Doğrulama kodu sadece rakamlardan oluşabilir ve sıfırdan başlayamaz." data-val-range-max="9999" data-val-range-min="1000" data-val-required="Doğrulama kodu Boş geçilemez." id="Code" name="Code" tabindex="1" type="text" value="123456"></td>
                                    <td><input type="submit" name="submit_process" value="Devam >"></td>
                                </tr>
                                <tr>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                    <br>
                    <div class="container_3 red wide fading-notification" align="left" style="display: none;"><span class="error_icons atention"></span><p>Doğrulama kodu sadece rakamlardan oluşabilir ve sıfırdan başlayamaz.</p></div>
                </form>
            </div>
        </div>
    </div>
</div>


