
@{
    ViewBag.Title = "SealPasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .mainside .mainbox .mainbox-inner .mainbox-body {
        padding: 0
    }
</style>
<div id="page-character" class="mainbox page page-character">


    <div class="mainbox-inner page-inner">
        <div class="mainbox-header page-header border_box">
            <h3 class="page_title overflow_ellipsis"><span>KoFeNiX</span> &#129138; Kilit Parolası Değiştir</h3>
            <div id="cache_time"></div>
        </div>

        <div class="mainbox-body page-body self_clear">
            <div id="forgotpw_container">

                <form action="/Account/SealPasssend" id="register_form" method="post">
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:40%;"><label for="strAccountID">Kullanıcı Adı</label> :</td>
                                <td>
                                    <p class="login-in">
                                        <input name="__RequestVerificationToken" type="hidden" value="7nCwpCzIksh-W3y0MyImM0d_HFzeXVISCY1n_bOBkBHzueJ1VS2tbmE6wKBBHJNljO0Fyz5BG4HyJ4xWUIc3Qgg4_nhgdUWsHTJxmhP6MI41">
                                        <input value="@Session["strAccountID"].ToString()" class="input-validation-error text-box single-line" data-val="true" data-val-length="Kullanıcı Adı en az 4 en fazla 12 karakterden oluşabilir." data-val-length-max="12" data-val-length-min="4" data-val-regex="Kullanıcı Adı geçersiz formatta." data-val-regex-pattern="^[a-zA-Z0-9 ,]+$" data-val-required="Kullanıcı Adı Boş geçilemez." disabled="disabled" id="login_input" name="strAccountID" readonly="readonly" tabindex="1" type="text">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;"><label for="ProcessType">Sıfırlama Yöntemi</label> :</td>
                                <td>
                                    <p class="password-in">
                                        <select data-val="true" data-val-number="The field Sıfırlama Yöntemi must be a number." data-val-required="The Sıfırlama Yöntemi field is required." id="ProcessType" name="ProcessType">
                                            <option value="1">Telefon üzerinden değiştir</option>
                                            <option value="2">Email üzerinden değiştir</option>
                                        </select>
                                    </p>
                                </td>
                            </tr>
                            <tr style="height:50px;">
                                <td></td>
                                <td>
                                    <input type="submit" value="Devam >" name="submit_processtype" tabindex="3">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>


            </div>
        </div>
    </div>
</div>


