
@{
    ViewBag.Title = "SealPasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .mainside .mainbox .mainbox-inner .mainbox-body {
        padding: 0
    }
</style>
<div id="page-character" class="mainbox page page-character">


    <div class="mainbox-inner page-inner">
        <div class="mainbox-header page-header border_box">
            <h3 class="page_title overflow_ellipsis"><span>KoFeNiX</span> &#129138; Kilit Parolası Değiştir</h3>
            <div id="cache_time"></div>
        </div>

        <div class="mainbox-body page-body self_clear">
            <div id="forgotpw_container">

                
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td style="width:40%;"><label for="strAccountID">Kullanıcı Adı</label> :</td>
                                <td>
                                    <p class="login-in">
                                        
                                        <input value="@Session["strAccountID"].ToString()" id="login_input"  type="text">
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;"><label for="ProcessType">Sıfırlama Yöntemi</label> :</td>
                                <td>
                                    <p class="password-in">
                                        <select  data-val-required="The Sıfırlama Yöntemi field is required." id="ProcessType" name="ProcessType">
                                            
                                            <option value="2">Email üzerinden değiştir</option>
                                        </select>
                                    </p>
                                </td>
                            </tr>
                            <tr style="height:50px;">
                                <td></td>
                                <td>
                                    <input type="submit" value="Devam >" name="submit_processtype" tabindex="3">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                


            </div>
        </div>
    </div>
</div>


